# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Node modules
Back-end/node_modules/
front-end/node_modules/

# Environment files
.env

# Logs
*.log

# Build files
front-end/build/
.DS_Store

# System files
Thumbs.db

